@{
    ViewBag.Title = "Home Page";
}

<div id="container">
    <button class="main_button btn btn-primary btn-block" onclick="location.href='@Url.Action("Index", "Movie")'">
        Search by Movie Name
    </button>
    

    <button type="button" class="main_button btn btn-primary btn-block" onclick="location.href='SearchPerson.html'">
        Search by Actor/Director
    </button>

    <button type="button" class="main_button btn btn-primary btn-block" onclick="location.href='SearchUsers.html'">
        Search Users
    </button>
</div>