@{
    ViewBag.Title = "Home Page";
}

<div id="container3">
    <button class="main_button btn btn-primary btn-block" onclick="location.href='@Url.Action("Index", "Movie")'">
        Search by Movie Name
    </button>

    <button type="button" class="main_button btn btn-primary btn-block" onclick="location.href='@Url.Action("Index", "Person")'">
        Search by Actor/Director
    </button>

</div>