body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/floorBW.jpg");
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.btn{
    background-color: slategray;
    color: white;
}

/*----------------------Header shits--------------------------*/

header {
    padding-top: 5%;
}
header img{
    width: 15%;
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header h1{
    text-align: center;
    font-size: 170%;
}

/*----------------------container things-----------------------*/
#container{
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2vh;
    display: grid;
    grid-column-gap: 2%;
    grid-template-columns: 32% 32% 32%;
}

#container .main_button{
    height: 15vh; 
    background-color: slategray;
    border-radius: 5px;
    border: solid, 1px, white;
    padding: 2% 0 2% 0; 
    margin-top: 5%;
    font-size: 140%;
}


#container a{
    text-decoration: none;
}

#container div h2{
    text-align: center;
    color: white;
    width: 75%;
    font-size: 170%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


#container p{
    margin-left: 10px;
}

#container .input_element input, #container .input_element select{
    width: 95%; 
    height: 40px;
    padding-left: 5%; 
    margin-bottom: 5%;
    color: black; 
}

#container #search{
    color: white;
    background-color: slategray;
    text-align: center;
    border-radius: 5px;
    padding: 5% 8%;
    font-size: 20px;
    cursor: pointer;
    display: block; 
    grid-column-start: 2;
    border: none;
    margin: 20px auto;
}

/*-------------------------result style------------------------------*/
#container2{
    width:75%;
    margin-right: auto;
    margin-left: auto;
  
}

table{
    width: 100%;
}

table img{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.result{
    height: 20px;
}
tr{
    border-bottom: 1px;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: slategray;}

footer{
    clear: both;
    width: 75%;
    margin: 0px auto;
    text-align: center;
}

hr{
    border-top: 1px;
}