body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/floorBW.jpg");
    background-position: center;
    background-attachment: fixed;
    color: white;
}

::selection{
    background-color: #ffc300;
    color: black;
}

.btn{
    background-color: slategray;
    color: white;
}

/*----------------------Header shits--------------------------*/

header {
    padding-top: 5%;
}
header img{
    width: 15%;
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header h1{
    text-align: center;
    font-size: 170%;
}

/*----------------------container things-----------------------*/
#container{
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2vh;
    display: grid;
    grid-column-gap: 2%;
    grid-template-columns: 32% 32% 32%;
}

#container3{        /*specially designed for the homepage because the disabled button looked incomplete*/
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2vh;
    display: grid;
    grid-column-gap: 2%;
    grid-template-columns: 49% 49%;
}

#container3 .main_button{
    height: 15vh; 
    background-color: rgba(112,128,144,0.7);
    border-radius: 5px;
    border: solid, 1px, white;
    padding: 2% 0 2% 0; 
    margin-top: 5%;
    font-size: 140%;
}

#container3 .main_button:hover{
    background-color: rgba(112,128,144,1);
}


#container a{
    text-decoration: none;
}

#container div h2{
    text-align: center;
    color: white;
    width: 75%;
    font-size: 170%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


#container p{
    margin-left: 10px;
}

#container .input_element input, #container .input_element select{
    width: 95%; 
    height: 40px;
    padding-left: 5%; 
    margin-bottom: 5%;
    color: black; 
}

#container #search{
    color: white;
    background-color: rgba(112,128,144,0.7);
    text-align: center;
    border-radius: 5px;
    padding: 5% 8%;
    font-size: 20px;
    cursor: pointer;
    display: block; 
    grid-column-start: 2;
    border: none;
    margin: 20px auto;
}

#container input[value="Search"]:hover{
    background-color: rgba(112,128,144,1);
}


/*-------------------------result style------------------------------*/
#container2{
    width:75%;
    margin-right: auto;
    margin-left: auto;
  
}

table{
    width: 100%;
    margin: 2% 0;
}

table img{
    width: 15vh;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.result{
    height: 20px;
}

td{
    padding: 1%;
}

.info h3 a{
    text-decoration: underline;
    color: lightgoldenrodyellow;
}

.details h4 a {
    text-decoration: underline;
    color: lightgoldenrodyellow;
}

tr:nth-child(even) {
    background:rgba(39,43,48,0.6);
}
tr:nth-child(odd) {
    background: rgba(112,128,144,0.6);
}

tr:first-child td:first-child { 
    border-top-left-radius: 10px; 
}
tr:first-child td:last-child { 
    border-top-right-radius: 10px; 
}
tr:last-child td:first-child { 
    border-bottom-left-radius: 10px; 
}
tr:last-child td:last-child { 
    border-bottom-right-radius: 10px; 
}

.rating{
    text-align: center;
}

/*-----------------------------Data Page style----------------------------*/

#container2 .data-img{
    width: 40vh;
    padding: 2vh 0 2vh 2vh;
    vertical-align: top;
}

#container2 .details{
    vertical-align: top;
    padding: 0 5vh;
}

/*-----------------------------footer shits-------------------------------*/
footer{
    clear: both;
    width: 75%;
    margin: 0px auto;
    text-align: center;
}

hr{
    border-top: 1px;
}