<!DOCTYPE HTML>
<HTML>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <Title>EMovi</Title>
        <link href="../../Content/bootstrap.min.css" rel="stylesheet">
        <LINK REL=StyleSheet HREF="../../Content/stylesheet.css" TYPE="text/css">
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="btn btn-default navbar-btn" onclick="location.href='SignIn.html'">Sign in</button>
                </div>
            </div>
        </nav>

        <header>
            <a href = "Emovi.html">
                <img src="../../Content/images/EmoviLogo.png">
            </a>
        </header>

        <div id="container2">
            <!--Hide one of the following two tables as needed-->
            <!--template for movie data-->
            <table img="display">
                <tr>
                    <td class="data-img">
                        <img src="http://www.gstatic.com/tv/thumb/v22vodart/13042092/p13042092_v_v8_ab.jpg" class="data-img"/>
                    </td>

                    <td class="details">
                        <h1>Movie Name </h1>
                        <h4>Genre(s): </h4>
                        <h4>Directed By:</h4>
                        <h4>Actors/Actresses: </h4>
                        <p>[Movie Description]Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                             ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, 
                             nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                              Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, 
                              arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu 
                              pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean 
                              vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. 
                              Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut 
                              metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. 
                              Curabitur ullamcorper es nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus 
                              eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam
                               quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt 
                               tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget 
                               eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. 
                               Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget 
                               eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. 
                               Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,</p>
                        <h5>Date/Year Released: </h5>
                    </td>
                </tr>
            </table>

            <!--template for person data-->
            <table img="display">
                <tr>
                    <td class="data-img">
                        <img src="http://www.gstatic.com/tv/thumb/v22vodart/13042092/p13042092_v_v8_ab.jpg" class="data-img"/>
                    </td>

                    <td class="details">
                        <h1>Actor/Director Name </h1>
                        <h4>Birthday: </h4>
                        <h4>Movies Directed:</h4>
                        <h4>Movies Acted in:</h4>
                        <p>[person bio]Movie Description]Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper </p>
                    </td>
                </tr>
            </table>
         
        </div>

        <footer>
            <p>something something footer</p>
        </footer>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="../../Scripts/bootstrap.min.js"></script>

    </body>

</HTML>