<!DOCTYPE HTML>
<HTML>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <Title>EMovi</Title>
        <link href="../../Content/bootstrap.min.css" rel="stylesheet">
        <LINK REL=StyleSheet HREF="../../Content/stylesheet.css" TYPE="text/css">
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="btn btn-default navbar-btn">Sign in</button>
                </div>
            </div>
        </nav>

        <header>
            <a href = "Emovi.html">
                <img src="../../Content/images/EmoviLogo.png">
            </a>
        </header>

        <div id="container">
            <a href="SearchName.html">
                <div id="searchName" class="main_button">  
                    <h2>Search by Movie Name</h2>
                </div>
            </a>

            <a href="SearchPerson.html">
                <div id="searchPerson" class="main_button">
                    <h2>Search by Actor/Director</h2>
                </div>
            </a>

            <a href="SearchUser.html">
                <div id="searchUser" class="main_button">
                    <h2>Search Users</h2>
                </div>
            </a>
        </div>
        
        <footer>

        </footer>
         <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="../../Scripts/bootstrap.min.js"></script>
    </body>
</HTML>