<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Search Results</title>
        <link href="../../Content/bootstrap.min.css" rel="stylesheet">
        <LINK REL=StyleSheet HREF="../../Content/stylesheet.css" TYPE="text/css">
    </head>

    <body>
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="btn btn-default navbar-btn" onclick="location.href='SignIn.html'">Sign in</button>
                    </div>
                </div>
        </nav>

        <header>
            <a href = "Emovi.html">
                <img src="../../Content/images/EmoviLogo.png">
            </a>
            <h1>Search results for: [insert things here]</h1>
        </header>
    
        <div id="container2">
            <table width="100%">
                <!--start of row 1-->
                <tr class="result">
                    <td class="img">
                        <img src="http://www.gstatic.com/tv/thumb/v22vodart/13042092/p13042092_v_v8_ab.jpg" width="90px" height="125px"/>
                    </td>

                    <!--The sizes of the heading tags are arbitrary. i.e changing them will not break anything-->
                    <td class="info">
                        <a href="DataPage.html"><h3>Movie Name</h3></a>
                        <h5>Directed By:</h5>
                        <h5>Genres and Shit</h5>
                    </td>

                    <td class="rating">
                        <h3>Avg Rating:</h3>
                        <h4>[ratingHere]</h4>
                    </td>
                </tr>
                
                <!--start of row 2-->
                <tr class="result">
                    <td class="img">
                        <img src="http://www.gstatic.com/tv/thumb/v22vodart/13042092/p13042092_v_v8_ab.jpg" width="90px" height="125px"/>
                    </td>

                    <td class="info">
                        <a href = "#"><h3>Movie Nameffffffffffffffffffffffffffffffffff</h3></a>
                        <h5>Directed By:</h5>
                        <h5>Genres and Shit</h5>
                    </td>

                    <td class="rating">
                        <h3>Avg Rating:</h3>
                        <h4>[rating here]</h4>
                    </td>
                </tr>

               
            </table>
        </div>

        <footer>
            <p>Something something footer</p>
        </footer>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="../../Scripts/bootstrap.min.js"></script>
    </body>
</html>