<!DOCTYPE HTML>
<HTML>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Search by Actor/Director</title>
        <link href="../../Content/bootstrap.min.css" rel="stylesheet">
        <LINK REL=StyleSheet HREF="../../Content/stylesheet.css" TYPE="text/css">
    </head>

    <body>
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="btn btn-default navbar-btn" onclick="location.href='SignIn.html'">Sign in</button>
                    </div>
                </div>
        </nav>
    
        <header>
            <a href = "Emovi.html">
                <img src="../../Content/images/EmoviLogo.png"/>
            </a>
            <h1>Search by Actor/Director</h1>
        </header>

        <form id="container">
                <div class = "input_element">
                    <p>First Name:</p>
                    <input type="text" name="fname" placeholder="First Name">
                </div>

                <div class="input_element">
                    <p>Last Name:</p>
                    <input type="text" name="lname" placeholder="Last Name">
                </div>
    
                <div class="input_element">
                    <p>Genres:</p>
                    <input type="text" name="genre" placeholder="Genre">
                </div>
                
                <div class="input_element">
                    <p>Year:</p>
                    <input type="text" name="year"placeholder="Year">
                </div>

                <div class="input_element">
                    <p>Select:</p>
                    <select name="actor-or-director" form="container">
                        <option value="actor">Actor</option>
                        <option value="director">Director</option>
                    </select>
                </div>
                <input id="search" type="submit" value="Search" style ="grid-row-start: 3" formaction="ResultPage.html">
        </form>
            
        <footer>

        </footer>
         <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
         <!-- Include all compiled plugins (below), or include individual files as needed -->
         <script src="../../Scripts/bootstrap.min.js"></script>
    </body>

</HTML>