<!DOCTYPE HTML>
<HTML>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Search by Movie Name</title>
        <link href="../../Content/bootstrap.min.css" rel="stylesheet">
        <LINK REL=StyleSheet HREF="../../Content/stylesheet.css" TYPE="text/css">
    </head>

    <body>
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="btn btn-default navbar-btn">Sign in</button>
                    </div>
                </div>
        </nav>
        <header>
            <a href=" Emovi.html">
                <img src="../../Content/images/EmoviLogo.png"/>
            </a>
            <h1>Search by Movie Name</h1>
        </header>

        <div id="container">
            <div class = "input_element">
                <p>Name:</p>
                <input type="text" placeholder="Name">
            </div>

            <div class="input_element">
                <p>Genres:</p>
                <input type="text" placeholder="Genre">
            </div>
            
            <div class="input_element">
                <p>Year:</p>
                <input type="text" placeholder="Year">
            </div>
           
            <button type="button" onclick="location.href='ResultPage.html'">Search</button>
        </div>
        
        <footer>

        </footer>

         <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
         <!-- Include all compiled plugins (below), or include individual files as needed -->
         <script src="../../Scripts/bootstrap.min.js"></script>
    </body>
</HTML>