@model IEnumerable<EMovi.Models.Movie>

@{
    ViewBag.Title = "Search";
}

@foreach (var item in Model)
{
    foreach (var actor in item.ActsIns)
    {
        <h4>@actor.Actor.Person.FirstName</h4>
        <h4>@actor.Actor.Person.LastName</h4>

    }
}


